<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <!-- OneDrive API for Microsoft Accounts. Register your own via https://apps.dev.microsoft.com . -->
    <add key="OneDriveConsumerApiClientID" value="51afccd5-ac7c-4513-951f-94fa5c0d6ece"/>
    <add key="OneDriveConsumerApiClientSecret" value="84HQx9rc6~_kfB~UI4vM2TwCmArQ.xS7cF"/>
    <add key="OneDriveConsumerApiRedirectUri" value="https://apps.zomers.eu"/>

    <!-- OneDrive API for school or work accounts. Register your own via https://manage.windowsazure.com . -->
    <add key="OneDriveForBusinessO365ApiClientID" value="51afccd5-ac7c-4513-951f-94fa5c0d6ece"/>
    <add key="OneDriveForBusinessO365ApiClientSecret" value="84HQx9rc6~_kfB~UI4vM2TwCmArQ.xS7cF"/>

    <!-- Graph API for both Microsoft and school or work accounts. Register your own via https://apps.dev.microsoft.com . -->
    <add key="GraphApiApplicationId" value="51afccd5-ac7c-4513-951f-94fa5c0d6ece"/>
    
    <add key="OneDriveApiRefreshToken" value=""/>
  </appSettings>
</configuration>
